.product-list .infos .titleInfo, .product-list .infos .tips, .product-list a {
display: block;
}
.product-list .infos {
text-align: center;
padding: 0 10px;
}
.product-list .infos strong {
font-size: 100%;
}
.product-list .cover{
	text-align: center;
}
.salePrice {
color: #E93B78 !important;
font-size: 100%;
font-style: normal;
font-weight: bold;
}
.product-list .infos .titleInfo, .product-list .infos .tips {
display: block;
color: #E93B78;
}
.icon-star {
color: #ccc;
}
.icon-star-filled {
color: #ffcc66;
}
#show-more-btn{
margin: 0;
}
/*footer*/
footer {
color: #A6A8A8;
background: #EDEFEF;
padding: 15px 10px;
text-align: center;
font-size: 14px;
position: relative;
}
footer a, footer span {
color: #A6A8A8;
padding: 0 10px;
}
footer p{
	display: inline-block;
}
footer span.current {
color: #219ACB;
}

.productsItem{
  padding-top: 0.9375em;
  padding-bottom: 0.9375em;
  margin-top: -1px;
  margin-left: -1px;
  border:1px solid #EEE;
}

@media only screen {
	body{font:12px/1.5 'Helvetica Neue', Arial, 'sans serif';}
  .productsItem{
  min-height:337px;
  }
  [class*="column"] + [class*="column"]:last-child {
  float: left;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  [class*="column"] + [class*="column"]:last-child {
float: left;
}
  .productsItem{
  min-height:320px;
  }
	.small-1 {
    position: relative;
    width: 8.33333%; }

  .small-2 {
    position: relative;
    width: 16.66667%; }

  .small-3 {
    position: relative;
    width: 25%; }

  .small-4 {
    position: relative;
    width: 33.33333%; }

  .small-5 {
    position: relative;
    width: 41.66667%; }

  .small-6 {
    position: relative;
    width: 50%; }

  .small-7 {
    position: relative;
    width: 58.33333%; }

  .small-8 {
    position: relative;
    width: 66.66667%; }

  .small-9 {
    position: relative;
    width: 75%; }

  .small-10 {
    position: relative;
    width: 83.33333%; }

  .small-11 {
    position: relative;
    width: 91.66667%; }

  .small-12 {
    position: relative;
    width: 100%; }


	.large-1 {
    position: relative;
    width: 8.33333%; }

  .large-2 {
    position: relative;
    width: 16.66667%; }

  .large-3 {
    position: relative;
    width: 25%; }

  .large-4 {
    position: relative;
    width: 33.33333%; }

  .large-5 {
    position: relative;
    width: 41.66667%; }

  .large-6 {
    position: relative;
    width: 50%; }

  .large-7 {
    position: relative;
    width: 58.33333%; }

  .large-8 {
    position: relative;
    width: 66.66667%; }

  .large-9 {
    position: relative;
    width: 75%; }

  .large-10 {
    position: relative;
    width: 83.33333%; }

  .large-11 {
    position: relative;
    width: 91.66667%; }

  .large-12 {
    position: relative;
    width: 100%; }

 /**************/
.top-bar {
    /*background: #111111;*/
    background: #2680B4;
    *zoom: 1;
    overflow: visible; }
    .top-bar:before, .top-bar:after {
      content: " ";
      display: table; }
    .top-bar:after {
      clear: both; }
    .top-bar .toggle-topbar {
      display: none; }
    .top-bar .title-area {
      float: left; }
    .top-bar .name h1 a {
      width: auto; }
    .top-bar input,
    .top-bar .button {
      line-height: 2em;
      font-size: 0.875em;
      height: 2em;
      padding: 0 10px;
      position: relative;
      top: 8px; }
    .top-bar.expanded {
      background: #111111; }

  .contain-to-grid .top-bar {
    max-width: 62.5em;
    margin: 0 auto; }

  .top-bar-section {
    -webkit-transition: none 0 0;
    -moz-transition: none 0 0;
    transition: none 0 0;
    left: 0 !important; }
    .top-bar-section ul {
      width: auto;
      height: auto !important;
      display: inline; }
      .top-bar-section ul li {
        float: left; }
        .top-bar-section ul li .js-generated {
          display: none; }
    .top-bar-section li a:not(.button) {
      padding: 0 15px;
      line-height: 45px;
      /*background: #111111;*/
      background: #2680B4; }
      .top-bar-section li a:not(.button).hover {
        background: black; }
    .top-bar-section .has-dropdown > a {
      padding-right: 35px !important; }
      .top-bar-section .has-dropdown > a:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: inset 5px;
        border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
        border-top-style: solid;
        margin-top: -2.5px;
        top: 22.5px; }
    .top-bar-section .has-dropdown.moved {
      position: relative; }
      .top-bar-section .has-dropdown.moved > .dropdown {
        visibility: hidden; }
    .top-bar-section .has-dropdown.hover > .dropdown {
      visibility: visible; }
    .top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
      border: none;
      content: "\00bb";
      margin-top: -16px;
      right: 5px; }
    .top-bar-section .dropdown {
      left: 0;
      top: auto;
      background: transparent;
      min-width: 100%; }
      .top-bar-section .dropdown li a {
        color: white;
        line-height: 1;
        white-space: nowrap;
        padding: 7px 15px;
        background: #1e1e1e; }
      .top-bar-section .dropdown li label {
        white-space: nowrap;
        background: #1e1e1e; }
      .top-bar-section .dropdown li .dropdown {
        left: 100%;
        top: 0; }
    .top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
      border-bottom: none;
      border-top: none;
      /*border-right: solid 1px #2b2b2b;
      border-left: solid 1px black;*/
      border-right: solid 1px #2680B4;
      border-left: solid 1px #2680B4;
      clear: none;
      height: 45px;
      width: 0px; }
    .top-bar-section .has-form {
      /*background: #111111;*/
      background: #2680B4;
      padding: 0 15px;
      height: 45px; }
    .top-bar-section ul.right li .dropdown {
      left: auto;
      right: 0; }
      .top-bar-section ul.right li .dropdown li .dropdown {
        right: 100%; } 
  /*****************/
}
@media only screen and (min-width: 768px){
  .productsItem{
  min-height:320px;
  }

}