.product-list .infos .titleInfo, .product-list .infos .tips, .product-list a {
display: block;
}
.product-list .infos {
text-align: center;
padding: 0 10px;
}
.product-list .infos strong {
font-size: 100%;
}
.product-list .cover{
	text-align: center;
}
.salePrice {
color: #E93B78 !important;
font-size: 100%;
font-style: normal;
font-weight: bold;
}
.product-list .infos .titleInfo, .product-list .infos .tips {
display: block;
color: #E93B78;
}
.icon-star {
color: #ccc;
}
.icon-star-filled {
color: #ffcc66;
}
#show-more-btn{
margin: 0;
}
/*footer*/
footer {
color: #A6A8A8;
background: #EDEFEF;
padding: 15px 10px;
text-align: center;
font-size: 14px;
position: relative;
}
footer a, footer span {
color: #A6A8A8;
padding: 0 10px;
}
footer p{
	display: inline-block;
}
footer span.current {
color: #219ACB;
}



.productsItem{
	padding: 8px;
	margin-top: -1px;
	border:1px solid #eee;
}

@media only screen {
	body{font:12px/1.5 'Helvetica Neue', Arial, 'sans serif';}
}

/* Styles for screens that are atleast 768px; */
@media only screen and (min-width: 768px) {}

/* Medium Displays: 768px - 1279px */
@media only screen and (min-width: 768px) {
	.product-list{
		min-height: 290px;
	}
}

/* Large Displays: 1280px - 1440px */
@media only screen and (min-width: 1280px) {

}


/* X-Large Displays: 1400px and up */
@media only screen and (min-width: 1440px) {}