.product-list .infos .titleInfo, .product-list .infos .tips, .product-list a {
display: block;
}
.product-list .infos {
text-align: center;
padding: 0 10px;
}
.product-list .infos strong {
font-size: 100%;
}
.product-list .cover{
	text-align: center;
}
.salePrice {
color: #E93B78 !important;
font-size: 100%;
font-style: normal;
font-weight: bold;
}
.product-list .infos .titleInfo, .product-list .infos .tips {
display: block;
color: #E93B78;
}
.icon-star {
color: #ccc;
}
.icon-star-filled {
color: #ffcc66;
}
#show-more-btn{
margin: 0;
}
/*footer*/
footer {
color: #A6A8A8;
background: #EDEFEF;
padding: 15px 10px;
text-align: center;
font-size: 14px;
position: relative;
}
footer a, footer span {
color: #A6A8A8;
padding: 0 10px;
}
footer p{
	display: inline-block;
}
footer span.current {
color: #219ACB;
}

.productsItem{
  padding-top: 0.9375em;
  padding-bottom: 0.9375em;
  margin-top: -1px;
  margin-left: -1px;
  border:1px solid #EEE;
}

@media only screen {
	body{font:12px/1.5 'Helvetica Neue', Arial, 'sans serif';}
  .productsItem{
  min-height:281px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {

	.small-1 {
    position: relative;
    width: 8.33333%; }

  .small-2 {
    position: relative;
    width: 16.66667%; }

  .small-3 {
    position: relative;
    width: 25%; }

  .small-4 {
    position: relative;
    width: 33.33333%; }

  .small-5 {
    position: relative;
    width: 41.66667%; }

  .small-6 {
    position: relative;
    width: 50%; }

  .small-7 {
    position: relative;
    width: 58.33333%; }

  .small-8 {
    position: relative;
    width: 66.66667%; }

  .small-9 {
    position: relative;
    width: 75%; }

  .small-10 {
    position: relative;
    width: 83.33333%; }

  .small-11 {
    position: relative;
    width: 91.66667%; }

  .small-12 {
    position: relative;
    width: 100%; }


	.large-1 {
    position: relative;
    width: 8.33333%; }

  .large-2 {
    position: relative;
    width: 16.66667%; }

  .large-3 {
    position: relative;
    width: 25%; }

  .large-4 {
    position: relative;
    width: 33.33333%; }

  .large-5 {
    position: relative;
    width: 41.66667%; }

  .large-6 {
    position: relative;
    width: 50%; }

  .large-7 {
    position: relative;
    width: 58.33333%; }

  .large-8 {
    position: relative;
    width: 66.66667%; }

  .large-9 {
    position: relative;
    width: 75%; }

  .large-10 {
    position: relative;
    width: 83.33333%; }

  .large-11 {
    position: relative;
    width: 91.66667%; }

  .large-12 {
    position: relative;
    width: 100%; }

}
/* Styles for screens that are atleast 768px; */
@media only screen and (min-width: 768px) {
/*.productsItem:nth-child(2n+3){
	border-right:1px solid #EEE;
}*/
}

/* Medium Displays: 768px - 1279px */
@media only screen and (min-width: 768px) {
	.product-list{
		min-height: 295px;
	}
 

}

/* Large Displays: 1280px - 1440px */
@media only screen and (min-width: 1280px) {

}


/* X-Large Displays: 1400px and up */
@media only screen and (min-width: 1440px) {}